# Xcode
.DS_Store
*.swp
*~.nib/

# Swift
*.hmap
*.ipa
*.xcuserstate
*.xccheckout
*.xcworkspace
*.xcscmblueprint
DerivedData/
.build/

# CocoaPods
Pods/
Podfile.lock

Flashcardio.xcodeproj/project.xcworkspace/xcuserdata/pete.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store~f52e6620767267a6811a738ef00dd26f1c64e88e
